body{
    font-family: "Arial", "Helvetica", sans-serif;
}
header{
    font-family: 'Droid Serif', serif;
}
#scrapeBtn{
    padding-left: 10px;
    margin-left: 10px;
}
#jumbotronDiv{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    background-image: url("/images/news.jpeg");
    background-size: cover;
    background-position: bottom;
}
a:link{
    color:white;
    text-decoration: none;
}
a:hover {
    color:white;
    text-decoration: underline;
}
a:visited {
    color:white;
    text-decoration: none;
}
.card {
    margin-top: 25px;
}
.card-header{
    font-family: 'Playfair Display', serif;
}
#saveArticleBtn{
    margin-top: 15px;
}
#dropDB{
    margin-top: 7px;
    margin-bottom: 7px;
}